*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.arrow__left {
  z-index: 300;
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  width: 15rem;
  border-radius: 2.5rem; }
  .arrow__left-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    width: 5rem;
    border-radius: 2.5rem;
    overflow: hidden;
    transition: width .5s; }
    .arrow__left-content:hover {
      width: 15rem;
      transition: width .5s; }
    .arrow__left-content:hover > .arrow__left-text {
      opacity: 100;
      transition: opacity .1s;
      transition-delay: .3s; }
  .arrow__left-text {
    position: absolute;
    color: #fff;
    font-size: 1.4rem;
    font-family: "Open Sans";
    font-weight: 600;
    white-space: nowrap;
    float: right;
    right: 0;
    padding: 1.7rem;
    opacity: 0; }
    .arrow__left-text a {
      color: inherit;
      text-decoration: none; }
  .arrow__left-box {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 1.5rem;
    cursor: pointer; }

.arrow__right {
  z-index: 300;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
  width: 15rem;
  border-radius: 50%; }
  .arrow__right-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    width: 5rem;
    border-radius: 2.5rem;
    overflow: hidden;
    transition: width .5s;
    display: flex;
    justify-content: flex-end; }
    .arrow__right-content:hover {
      width: 15rem;
      transition: width .5s; }
    .arrow__right-content:hover > .arrow__right-text {
      opacity: 100;
      transition: opacity .1s;
      transition-delay: .3s; }
  .arrow__right-text {
    position: absolute;
    color: #fff;
    font-size: 1.4rem;
    font-family: "Open Sans";
    font-weight: 600;
    white-space: nowrap;
    float: left;
    left: 0;
    padding: 1.7rem;
    opacity: 0; }
    .arrow__right-text a {
      color: inherit;
      text-decoration: none; }
  .arrow__right-box {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 1.5rem;
    cursor: pointer; }

@keyframes arrow {
  0% {
    transform: translateX(0);
    opacity: 100; }
  40% {
    transform: translateX(-10px);
    opacity: 0; }
  70% {
    transform: translateX(10px);
    opacity: 0; }
  80% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0);
    opacity: 100; } }

.main__content {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .main__content__build {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 3rem;
    z-index: 300; }
    .main__content__build-header {
      position: relative;
      color: #fff;
      font-size: 2.5rem;
      font-family: "Open Sans";
      font-weight: 600;
      transition: all 1s; }
      .main__content__build-header .invisible {
        visibility: visible;
        opacity: 100;
        transition: all .3s; }
      .main__content__build-header .span-arrow {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-2rem);
        transition: all .3s; }
      .main__content__build-header.animate > .span-arrow {
        visibility: visible;
        opacity: 100;
        transform: translateX(0);
        transition: all 1.3s;
        cursor: pointer; }
        .main__content__build-header.animate > .span-arrow:hover {
          animation-name: arrow;
          animation-duration: 1s;
          animation-iteration-count: infinite; }
      .main__content__build-header.animate > .invisible {
        visibility: hidden;
        opacity: 0;
        transition: all 1.3s; }
      .main__content__build-header.animate .span-visible-1 {
        top: 0;
        left: 3rem;
        transition: all .5s;
        transition-delay: .3s; }
      .main__content__build-header.animate .span-visible-2 {
        top: 0;
        left: 4.8rem;
        transition: all .5s;
        transition-delay: .3s; }
      .main__content__build-header.animate .span-visible-3 {
        top: 0;
        left: 5.8rem;
        transition: all .5s;
        transition-delay: .5s; }
      .main__content__build-header.animate .span-visible-4 {
        top: 0;
        left: 7.5rem;
        transition: all .5s;
        transition-delay: .8s; }
      .main__content__build-header span {
        transition: all 0.5s; }
      .main__content__build-header .span-visible-1 {
        top: 0;
        left: 2rem; }
      .main__content__build-header .span-invisible-1 {
        top: 0;
        left: 3.5rem; }
      .main__content__build-header .span-visible-2 {
        top: 3rem;
        left: 2rem; }
      .main__content__build-header .span-invisible-2 {
        top: 3rem;
        left: 2.5rem; }
      .main__content__build-header .span-visible-3 {
        top: 3rem;
        left: 5rem; }
      .main__content__build-header .span-invisible-3 {
        top: 3rem;
        left: 6.5rem; }
      .main__content__build-header .span-visible-4 {
        top: 3rem;
        left: 19rem; }
      .main__content__build-header span {
        position: absolute;
        top: 0;
        left: 0; }
      .main__content__build-header.active {
        color: black; }
  .main__content__menu-text {
    font-size: 1rem;
    font-family: "Open Sans";
    font-weight: 400;
    color: #fff;
    position: absolute;
    padding: 0 1.5rem;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    opacity: 0; }
  .main__content__menu-box {
    background-image: linear-gradient(rgba(140, 156, 161, 0.4), rgba(140, 156, 161, 0.4));
    width: 5rem;
    border-radius: 2.5rem;
    overflow: hidden; }
    .main__content__menu-box:hover {
      width: 15rem;
      transition: width .3s; }
    .main__content__menu-box:hover > .main__content__menu-text {
      opacity: 100;
      transition: all .2s;
      transition-delay: .2s; }
  .main__content__menu-btn {
    z-index: 10000;
    float: right;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .main__content__menu-btn-style {
      background-color: black;
      height: 2px;
      width: 2rem;
      transition: all .5s; }
      .main__content__menu-btn-style:before {
        content: "";
        display: block;
        background-color: inherit;
        height: 2px;
        width: 2rem;
        transform: translateY(-0.5rem);
        transition: all .5s; }
      .main__content__menu-btn-style:after {
        content: "";
        display: block;
        background-color: inherit;
        height: 2px;
        width: 2rem;
        transform: translateY(0.4rem); }
  .main__content__box-flex {
    display: flex;
    height: 100%;
    flex: 0 0 100%; }
  .main__content__box a {
    flex: 0 0 33.33%;
    transition: all .5s;
    height: 100vh;
    color: inherit;
    text-decoration: none; }
    .main__content__box a.active {
      flex: 0 0 100%;
      transition: all .5s; }
  .main__content__box-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 4rem 12rem 4rem;
    transition: height .3s; }
    .main__content__box-item:hover > .main__content__box-item-texthidden {
      visibility: visible;
      opacity: 100;
      transition: all .2s;
      transition-delay: .5s; }
    .main__content__box-item:hover > .main__content__box-item-header {
      transform: translateY(0);
      transition: all .5s; }
    .main__content__box-item h1 {
      font-size: 4rem;
      font-weight: 400;
      font-family: "Open Sans";
      color: #fff;
      padding-bottom: 2rem;
      transform: translateY(70px);
      transition: all .5s; }
    .main__content__box-item-texthidden {
      height: 70px;
      visibility: hidden;
      opacity: 0;
      font-family: "Open Sans";
      font-size: 1.4rem;
      font-weight: 600;
      color: #fff;
      padding-bottom: 2rem; }
    .main__content__box-item-text {
      font-family: "Open Sans";
      font-size: 1.4rem;
      font-weight: 600;
      color: #fff; }
    .main__content__box-item-1 {
      background-image: url("../img/protest_1.jpg");
      background-size: cover;
      background-position: 20%; }
    .main__content__box-item-2 {
      background-image: url("../img/protest_2.jpg");
      background-size: cover;
      background-position: left; }
    .main__content__box-item-3 {
      background-image: url("../img/protest_3.jpg");
      background-size: cover;
      background-position: 80%; }
    .main__content__box-item-4 {
      background-image: url("../img/protest_4.jpg");
      background-size: cover;
      background-position: right, 100px; }
    .main__content__box-item-5 {
      background-image: url("../img/protest_5.jpg");
      background-size: cover;
      background-position: center; }
    .main__content__box-item-6 {
      background-image: url("../img/protest_6.jpg");
      background-size: cover;
      background-position: left; }
    .main__content__box-item-7 {
      background-image: url("../img/protest_7.jpg");
      background-size: cover;
      background-position: 80%; }
    .main__content__box-item-8 {
      background-image: url("../img/protest_8.jpg");
      background-size: cover;
      background-position: center; }
    .main__content__box-item-9 {
      background-image: url("../img/protest_9.jpg");
      background-size: cover;
      background-position: center; }
    .main__content__box-item-10 {
      background-image: url("../img/protest_10.jpg");
      background-size: cover;
      background-position: right; }
    .main__content__box-item-11 {
      background-image: url("../img/protest_11.jpg");
      background-size: cover;
      background-position: 20%; }
    .main__content__box-item-12 {
      background-image: url("../img/protest_12.jpg");
      background-size: cover;
      background-position: center; }
    .main__content__box-item-13 {
      background-image: url("../img/protest_13.jpg");
      background-size: cover;
      background-position: center; }

.main__content__box-flex {
  transition-timing-function: ease-out;
  transition: all 1s; }

.main__menu {
  z-index: 200;
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 15rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: flex-end; }

.main__content__menu-btn:hover > .main__content__menu-btn-style {
  transform: rotate(90deg) translateY(0);
  transition: all .5s; }

.main__content__menu-btn.active:hover > .main__content__menu-btn-style {
  transform: rotate(90deg) translateY(0);
  transition: all .5s; }

.main__content__menu-btn-style.active {
  background-color: black;
  height: 2px;
  width: 2rem;
  transform: rotate(-45deg); }
  .main__content__menu-btn-style.active:before {
    content: "";
    display: block;
    background-color: inherit;
    height: 2px;
    width: 2rem;
    transform: rotate(90deg); }
  .main__content__menu-btn-style.active:after {
    content: "";
    display: block;
    background-color: inherit;
    height: 2px;
    width: 2rem;
    transform: rotate(-45deg) translateY(-0.1rem);
    visibility: hidden; }

.main__content__menu-text-header {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Open Sans";
  color: #fff; }

.menu__popup {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  transition: z-index .5s; }
  .menu__popup.active {
    z-index: 100; }
  .menu__popup__item-box.active {
    z-index: 100;
    flex: 0 0 100%;
    transition: all .5s ease-out; }
  .menu__popup__item {
    flex: 0 0 33.33%;
    display: flex;
    height: 100vh;
    justify-content: flex-end; }
    .menu__popup__item.reverse {
      justify-content: flex-start; }
    .menu__popup__item-box {
      height: 100vh;
      flex: 0 0 0%;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: all .5s; }
      .menu__popup__item-box-1 {
        background-image: linear-gradient(to right, #222224, #222224); }
      .menu__popup__item-box-2 {
        background-image: linear-gradient(to right, #171719, #222224); }
      .menu__popup__item-box-3 {
        background-image: linear-gradient(to right, #000000, #000000); }
      .menu__popup__item-box:hover > .menu__popup__item-box-wrapper > .menu__popup__item-box-sudo:after {
        transform: translateY(-200%);
        transition: all .5s; }
      .menu__popup__item-box:hover > .menu__popup__item-box-wrapper > .menu__popup__item-box-sudo:before {
        transform: translateY(-200%);
        transition: all .5s; }
      .menu__popup__item-box-sudo {
        font-family: "Open Sans";
        font-size: 5rem;
        font-weight: 600;
        visibility: hidden;
        display: block;
        color: #fff;
        overflow: hidden;
        height: 6rem;
        display: none; }
        .menu__popup__item-box-sudo.active {
          display: block; }
        .menu__popup__item-box-sudo-1:after {
          content: 'Cases'; }
        .menu__popup__item-box-sudo-1:before {
          content: 'Cases'; }
        .menu__popup__item-box-sudo-2:after {
          content: 'About'; }
        .menu__popup__item-box-sudo-2:before {
          content: 'About'; }
        .menu__popup__item-box-sudo-3:after {
          content: 'Contact'; }
        .menu__popup__item-box-sudo-3:before {
          content: 'Contact'; }
        .menu__popup__item-box-sudo:after {
          display: block;
          color: #fff;
          font-size: 5rem;
          transform: translateY(-50%);
          font-family: "Open Sans";
          font-weight: 600;
          visibility: visible;
          transition: all .5s; }
        .menu__popup__item-box-sudo:before {
          display: block;
          color: #fff;
          font-size: 5rem;
          font-family: "Open Sans";
          font-weight: 600;
          visibility: visible;
          transition: all .5s; }
      .menu__popup__item-box-wrapper {
        padding: 4rem; }
      .menu__popup__item-box h1:after {
        content: inherit;
        display: block; }

.menu__popup__item-box-text {
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.2rem;
  padding: 2rem 2rem 2rem 0;
  transform: translateY(3rem);
  opacity: 0;
  visibility: hidden; }
  .menu__popup__item-box-text.active {
    transform: translateY(0);
    opacity: 100;
    visibility: visible;
    transition: visibility .2s ,opacity .2s;
    transition-delay: .5s; }

.menu__popup__item-box-btn {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.6rem;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  letter-spacing: 0.1rem;
  transform: translateY(3rem);
  opacity: 0;
  visibility: hidden; }
  .menu__popup__item-box-btn.active {
    transform: translateY(0);
    opacity: 100;
    visibility: visible;
    transition: all .2s;
    transition-delay: .7s; }
  .menu__popup__item-box-btn a {
    text-decoration: none;
    color: inherit; }

.animation {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 0.2rem; }
  .animation__banner {
    flex: 0 0 33.3333%;
    height: 100%;
    display: flex;
    justify-content: flex-end; }
    .animation__banner-box {
      background-color: black;
      flex: 0 0 100%;
      height: 100%; }
      .animation__banner-box.active {
        flex: 0 0 0%;
        transition-timing-function: ease-in-out;
        transition: all 1s; }
  .animation h1 {
    position: absolute;
    top: 65%;
    left: 5%;
    transform: translate(0, -50%);
    color: #fff;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 13rem;
    display: flex;
    justify-items: flex-start;
    padding: 0 6rem;
    flex-wrap: wrap; }
    .animation h1 span {
      display: flex;
      justify-content: center;
      justify-self: center;
      visibility: hidden;
      width: 8rem;
      height: 17rem;
      overflow: hidden; }
      .animation h1 span:before {
        display: block;
        color: #fff;
        visibility: visible;
        transform: translate(50%, 150px);
        transition: all .3s; }
      .animation h1 span.active:before {
        transform: translateX(60px); }
  .animation.hover > h1 > span:before {
    transform: translate(55%, 0); }
  .animation.hover > h1 > .span-1:before {
    content: "S";
    transition: all .1s; }
  .animation.hover > h1 > .span-2:before {
    content: "t";
    transition: all .4s;
    transition-delay: .4s; }
  .animation.hover > h1 > .span-3:before {
    content: "r";
    transition: all .4s;
    transition-delay: .2s; }
  .animation.hover > h1 > .span-4:before {
    content: "a";
    transition: all .4s;
    transition-delay: .4s; }
  .animation.hover > h1 > .span-5:before {
    content: "t";
    transition: all .4s;
    transition-delay: .2s; }
  .animation.hover > h1 > .span-6:before {
    content: "e";
    transition: all .4s;
    transition-delay: .1s; }
  .animation.hover > h1 > .span-7:before {
    content: "g";
    transition: all .4s;
    transition-delay: .4s; }
  .animation.hover > h1 > .span-8:before {
    content: "y";
    transition: all .4s;
    transition-delay: .2s; }
  .animation.hover > h1 > .span-9:before {
    content: "";
    transition: all .4s;
    transition-delay: .4s; }
  .animation.hover > h1 > .span-10:before {
    content: "B";
    transition: all .4s;
    transition-delay: .1s; }
  .animation.hover > h1 > .span-11:before {
    content: "r";
    transition: all .4s;
    transition-delay: .5s; }
  .animation.hover > h1 > .span-12:before {
    content: "a";
    transition: all .4s;
    transition-delay: .3s; }
  .animation.hover > h1 > .span-13:before {
    content: "n";
    transition: all .4s;
    transition-delay: .2s; }
  .animation.hover > h1 > .span-14:before {
    transition: all .4s;
    transition-delay: .52s; }
  .animation.hover > h1 > .span-15:before {
    content: "i";
    transition: all .4s;
    transition-delay: .4s; }
  .animation.hover > h1 > .span-16:before {
    content: "n";
    transition: all .4s;
    transition-delay: .1s; }
  .animation.hover > h1 > .span-17:before {
    content: "g";
    transition: all .4s;
    transition-delay: .2s; }
  .animation.hover > h1 > .span-18:before {
    content: "";
    transition: all .4s;
    transition-delay: .1s; }
  .animation.hover > h1 > .span-19:before {
    content: "a";
    transition: all .4s;
    transition-delay: .3s; }
  .animation.hover > h1 > .span-20:before {
    content: "n";
    transition: all .4s;
    transition-delay: .2s; }
  .animation.hover > h1 > .span-21:before {
    content: "d";
    transition: all .4s;
    transition-delay: .5s; }
  .animation.hover > h1 > .span-22:before {
    content: "";
    transition: all .4s;
    transition-delay: .4s; }
  .animation.hover > h1 > .span-23:before {
    content: "e";
    transition: all .4s;
    transition-delay: .1s; }
  .animation.hover > h1 > .span-24:before {
    content: "-";
    transition: all .4s;
    transition-delay: .3s; }
  .animation.hover > h1 > .span-25:before {
    content: "c";
    transition: all .4s;
    transition-delay: .2s; }
  .animation.hover > h1 > .span-26:before {
    content: "o";
    transition: all .4s;
    transition-delay: .1s; }
  .animation.hover > h1 > .span-27:before {
    content: "m";
    transition: all .4s;
    transition-delay: .4s; }
  .animation.hover > h1 > .span-28:before {
    content: "m";
    transition: all .4s;
    transition-delay: .05s; }
  .animation.hover > h1 > .span-29:before {
    content: "e";
    transition: all .4s;
    transition-delay: .2s; }
  .animation.hover > h1 > .span-30:before {
    content: "r";
    transition: all .4s;
    transition-delay: .36s; }
  .animation.hover > h1 > .span-31:before {
    content: "c";
    transition: all .4s;
    transition-delay: .3s; }
  .animation.hover > h1 > .span-32:before {
    content: "e";
    transition: all .4s;
    transition-delay: .1s; }
  .animation.hover > h1 > .span-33:before {
    content: ".";
    transition: all .4s;
    transition-delay: .24s; }

.span-small {
  width: 6rem !important; }

.span-xs {
  width: 4rem !important; }

.span-big {
  width: 12rem !important; }

.span-space {
  width: 5rem;
  height: 5rem; }

.span-1:before {
  content: "S"; }

.span-2:before {
  content: "t"; }

.span-3:before {
  content: "r"; }

.span-4:before {
  content: "a"; }

.span-5:before {
  content: "t"; }

.span-6:before {
  content: "e"; }

.span-7:before {
  content: "g"; }

.span-8:before {
  content: "y"; }

.span-9:before {
  content: ""; }

.span-10:before {
  content: "B"; }

.span-11:before {
  content: "r"; }

.span-12:before {
  content: "a"; }

.span-13:before {
  content: "n"; }

.span-14:before {
  content: "d"; }

.span-15:before {
  content: "i"; }

.span-16:before {
  content: "n"; }

.span-17:before {
  content: "g"; }

.span-18:before {
  content: ""; }

.span-19:before {
  content: "a"; }

.span-20:before {
  content: "n"; }

.span-21:before {
  content: "d"; }

.span-22:before {
  content: ""; }

.span-23:before {
  content: "e"; }

.span-24:before {
  content: "-"; }

.span-25:before {
  content: "c"; }

.span-26:before {
  content: "o"; }

.span-27:before {
  content: "m"; }

.span-28:before {
  content: "m"; }

.span-29:before {
  content: "e"; }

.span-30:before {
  content: "r"; }

.span-31:before {
  content: "c"; }

.span-32:before {
  content: "e"; }

.span-33:before {
  content: "."; }

span.active:before {
  transform: translateX(200px) !important;
  transition: all .5s; }

.main .awards {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main .awards__content {
    flex: 0 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem; }
    .main .awards__content-header {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 3rem; }
  .main .awards__list {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    flex: 0 0 40%;
    padding: 6rem;
    background-color: #FCE473; }
    .main .awards__list h1 {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 1.8rem; }
    .main .awards__list p {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 1.4rem;
      padding-bottom: 4.5rem; }
      .main .awards__list p a {
        color: inherit;
        text-decoration: none; }

.main .main__concept {
  display: flex;
  height: 100vh; }
  .main .main__concept__left {
    background-color: #99D08B;
    flex: 0 0 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    padding: 10rem; }
    .main .main__concept__left h1 {
      font-weight: 600;
      font-family: "Open Sans";
      font-size: 2rem;
      padding-bottom: 2rem; }
    .main .main__concept__left p {
      font-size: 1.4rem;
      font-family: "Open Sans";
      font-weight: 400; }
  .main .main__concept__right {
    flex: 0 0 70%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 6rem;
    background-color: #99D08B; }
    .main .main__concept__right-box {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .main .main__concept__right-box img {
        width: 60%;
        height: auto;
        object-fit: cover; }

.main .banner {
  display: flex;
  height: 100vh;
  overflow: hidden; }
  .main .banner__content {
    width: 100%;
    height: 100%; }
    .main .banner__content img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.main .footer {
  background-color: #1b1d26;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 2rem; }
  .main .footer__box {
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    flex: 0 0 33%; }
  .main .footer__content {
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    flex: 0 0 33%;
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end; }
    .main .footer__content h1:hover {
      color: #2b2b4a;
      transform: scale(1.3) rotate(-5deg);
      transform-origin: center;
      transition: all .5s; }
  .main .footer__links {
    flex: 0 0 33%;
    display: flex;
    justify-content: space-evenly; }
    .main .footer__links a {
      text-decoration: none;
      color: inherit; }
      .main .footer__links a:hover > .fa-facebook-square {
        color: #3B5998;
        transition: color .5s; }
      .main .footer__links a:hover > .fa-linkedin {
        color: #0077B5;
        transition: color .5s; }
      .main .footer__links a:hover > .fa-instagram {
        color: #8a3ab9;
        transition: color .5s; }
      .main .footer__links a i {
        font-size: 2.5rem; }

.main .mobile {
  display: flex;
  height: 100vh; }
  .main .mobile__box-left {
    flex: 0 0 50%;
    background-image: url("../img/frans hals museum/frans__mobile__left.jpg");
    background-size: cover;
    background-position: center; }
  .main .mobile__box-right {
    flex: 0 0 50%;
    background-image: url("../img/frans hals museum/frans__mobile__right.jpg");
    background-size: cover;
    background-position: center; }

.content__bottom {
  width: 100vw;
  overflow: hidden;
  display: none; }
  .content__bottom.active {
    display: block; }

.main .info {
  width: 100vw;
  display: flex;
  height: 100vh; }
  .main .info__content {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column; }
  .main .info__top {
    width: 100%; }
    .main .info__top img {
      width: 100%;
      height: auto;
      object-fit: cover; }
  .main .info__bottom {
    padding: 4rem;
    display: flex;
    color: #fff;
    background-color: #231F20;
    flex-direction: column;
    flex: 1;
    justify-content: center; }
    .main .info__bottom h1 {
      font-family: "Open Sans";
      font-size: 1.8rem;
      font-weight: 600;
      padding-bottom: 2rem; }
    .main .info__bottom p {
      font-family: "Open Sans";
      font-size: 1.4rem;
      font-weight: 400; }
  .main .info__img {
    height: 100%;
    flex: 0 0 70%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .info__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
